@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/*main*/
body{
    /*background-color: #293133;*/
    background-color: #222222;
    width: 100%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color:lightgrey
}
a:hover{
    color: #01D758;
}

a{
    color:lightgrey;
    text-decoration: none;
}

a:hover {
    padding-left: 8px;
}



main{
    width:80%;
    padding:1em;
    margin: 70px auto 0;
}

h1{
    color: seagreen;
}

h3{
    color: #01D758;
}

article {
    display: flex;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
}

.PESTEL
{
    
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
}

@font-face{
    font-family: "SourceSansPro"; src: url(fontes/source-sans-pro.zip);
    font-family: "ChunkFive" ; src: url(fontes/chunkfive.zip);
    font-family: "openSans"; src: url(fontes/open-sans.zip);
}

h2, h3{
    font-family: 'ChunkFive','Franklin Gothic Medium', 'Arial Narrow', 'Arial', sans-serif;
}
h4{
    font-family: 'openSans','sans-sherif','Arial';
}
.float
{
    float:left;
}

p{
    font-family: 'SourceSansPro', 'Arial', 'Helvetica', sans-serif;
}

/*fin main*/

/* nav */



.menu{
    background-color: black;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
    /*backdrop-filter: blur(3px); a voir pourquoi pas ca peut être sympa*/
}

.menu>div{
    display: flex;
    position: relative;
    border-left : 2px solid #01D758;
    align-items: center;
    padding: 0 10px;
}

.menu>div:last-child{
    border-right: 2px solid #01D758;
}

.submenu{
    position: absolute;
    top: 0;
    left: 0;
    margin: 70px 0 0 0;
    background-color: seagreen;
    display: none;
    border-radius: 15px;
    padding: 10px;

}

.submenu a:nth-child(even){
    color: white;
}

.menu>div.active{
    background-color: seagreen;    
}

nav > div:hover div.submenu{
    display:flex;
    flex-direction: column;
}

nav div{
    width: 100px;
}

/*fin nav*/


/*footer*/



.conteneur {
    max-width:1170px;
    margin: auto;
}

h4{
    justify-content: center;
}
.section img {
    height: 300px;
  }
#graph{
    max-width: 300px;
}
#plateau{
    max-width: 500px;
}

.conteneur ul {
    list-style: none;
}

.ligne {
    display:flex;
    flex-wrap: wrap;
}

footer {
    padding: 10px 0;
    background-color: black;
}

.colonne {
    width: 30%;
    padding:0 15px;
}

.colonne h4 {
    position:relative;
    font-size:18px;
    color:#01D758;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    /* border-bottom:2px solid green;
    padding-bottom:5px; */
}

.colonne h4::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 50%; 
    height: 2px; 
    background-color: #01D758;
} 

.colonne ul li
{
    margin-bottom: 5px;
}

.colonne ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight:300;
    display:block;
    transition: all 0.3s ease;
}



.colonne .images {
    display: inline-block;
    height:40px;
    width:40px;
    margin: 0 10px 10px 0;
    border-radius: 50%;

} 

/* fin footer*/


@media( max-width:767px){
    .menu{
        display: none;
    }

    .burger{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .burger>div{
        width: 50px;
        height: 50px;
    }

    .burger img{
        width: 50px;
    }

    .menu2 {
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        border-radius: 15px;
        padding: 10px;
    }

    .menu2 a:nth-child(even){
        color: white;
    }


    .burger:hover .menu2{
        display: flex;
        flex-direction: column;
        background-color: seagreen;

    }

    .secondaire{
        display: none;
    }

    .colonne
    {
        width:50%;
        margin-bottom:30px;
    }
}

@media(min-width:768px){

    .burger{
        display: none;
    }

}

@media (max-width: 574px) 
{
    .colonne
    {
        width:100%
    }    
}

/* Formulaire*/

form
{
    display: flex;
    flex-direction: column;

}

fieldset
{
    border: #01D758 solid ;
    margin: 2%;
    line-height: 300%;
    background-color: black;
}

fieldset div
{
    line-height: normal;
}

form h2 {
    color: #01D758;
}



/* Fin Formulaire */