body{
    background-color: #293133;
    width: 80%;
    margin: auto;
}
a:hover{
    color: #01D758;
}

main{
    margin-top: 70px;
}

header{
    display: flex;
    justify-content: center;
}

nav {
    height: 50px;
    margin: auto;
    display: flex;
    flex-direction:row;
    align-items: stretch ;
    justify-content: center;
    position: fixed;
    top: 0;
}

.menu>div{
    background-color: darkgreen;
    display: flex;
    position: relative;
    border-left : 2px solid black;
    align-items: center;
}

nav a{
    padding: 0 10px;
}

nav>div:first-child{
    border-left : 0;
}

.submenu{
    position: absolute;
    top: 0;
    left: 0;
    margin: 50px 0 0 0;
    background-color: seagreen;
    display: none;
}

nav div:hover div.submenu{
    display:block;
}

nav div{
    width: 100px;
}

footer
{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
    margin:0;
}
h4{
    justify-content: center;
}
.section img {
    height: 300px;
  }


@media( max-width:767px){
    .menu{
        display: none;
    }

    .burger{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    #menu2 {
        display: none;
        position: absolute;
        top: 40px;
        left: 20px;
    }

    .burger:hover #menu2{
        display: flex;
        flex-direction: column;

    }
}

@media(min-width:768px){

    .burger{
        display: none;
    }

}